{% extends 'base.html' %}

{% block title %}Daily Delivery List{% endblock title %}

{% block content %}
    {% if deliveries %}
        {% for delivery in deliveries %}
        <br>
        <div class="container">
            <div class="card text-center">
                <div class="card-header">
                    <h4 class="card-title"><a href="{{ unit.get_absolute_url }}">Delivery Number: {{ delivery.pk }}</a></h4>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle mb-2">Received Date: {{ delivery.date_received }}</h5>
                    <h5 class="card-subtitle mb-2">Pallet Count: {{ delivery.unit_count }}</h5>
                </div>
                <div class="card-footer">
                    <a href="{% url 'delivery_edit' delivery.pk %}" class="card-link btn btn-info">Edit</a>
                    <a href="{# url 'delivery_email' delivery.pk #}" class="card-link btn btn-info">Email</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <br>
        <div class="container">
            <h2><a href="{% url 'email' %}" role="button" class="btn btn-primary btn-lg btn-block">Email Today's Delivery</a></h2>
            <h2><a href="{% url 'csv_units' %}" class="btn btn-primary btn-lg btn-block">Generate Report</a></h2>
        </div>
    {% else %}
        <h1>No units!</h1>
        <a class="btn btn-primary btn-lg btn-block" href="{% url 'unit_new' %}">Create Shipment</a>
    {% endif %}
{% endblock content %}